    <form>
      <div class="form-row align-items-center">
        <%= form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |form| %>
        <div class=""> <%= form.text_field :title, input_html: {value: ""}, placeholder: "Search by title", class: "form-control mr-sm-2"%></div>
        <div class=""> <%= form.submit "Search", class: "btn btn-outline-primary my-2 my-sm-0" %></div>
        <% end %>
        <div class="col-auto"><%= link_to 'New Article', new_article_path, class: "btn btn-success"%></div>
      </div>
    </form>
    <table class="table mt-2">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Text</th>
        <th scope="col">Comment</th>
      </tr>

      <% @articles.sort.each do |article| %>
      <tr>
        <th scope="row"><%= article.id %></th>
        <td><b><%= link_to article.title, edit_article_path(article) %></b></td>
        <td><%= link_to article.text, edit_article_path(article) %></td>
        <td><%= article.comments.size %></td>
        <td><%= link_to 'Show', article_path(article), class: "btn btn-info" %></td>
        <td><%= link_to 'x', article_path(article),
   method: :delete,
   data: { confirm: 'Are you sure?'},
   class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    </table>