<div class="card text-white bg-info m-auto" style="max-width: 18rem;">

  <div class="card-header">Article № <%= @article.id %></div>

  <div class="card-body text-white">
    <h5 class="card-title">Title:
      <%= @article.title %>
    </h5>
    <p class="card-text">Text:
      <%= @article.text %>
    </p>

    <h2>Comments</h2>
    <% @article.comments.each do |comment| %>
      <div class="card-title">Title:
        <%= @comment.commenter %>
      </div>
      <div class="card-text">Text:
        <%= @comment.body %>
      </div>
    <%  end %>

    <h2> Add a comment:</h2>
    <%= form_with(model: [@article, @article.comments.build ], local: true ) do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%# = link_to "Submit", form.submit, class: "btn btn-primary"%>
      <%= form.submit %>
      <% end %>
    </p>
  </div>

  <%= link_to  "Edit", edit_article_path(@article), class: "btn btn-primary" %>
  <%= link_to  "Back", articles_path, class: "btn btn-secondary", class: "btn btn-secondary" %>
  <%= link_to  "Delete", article_path(@article),
   method: :delete,
   data: { confirm: 'Are you sure?'},
   class: "btn btn-danger" %>

</div>