<!DOCTYPE html>
<html>

<head>
    <title>Top Rated Movies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render 'home/navbar' %>
    <div class="container">
        <br>
        <%# = render 'home/container' %>
        <%# @output_JSON %>
        <div class="alert alert-success" role="alert">
            <div class="text-center">
                <p>We help you enjoy your time and find good movies to watch.<br/>
                Here 20 Most Popular Movies from this week: </p>
            </div>
        </div>
        <div class="row mx-auto">
            <%= yield %>
        </div>
        <%= render 'home/pagination'%>
    </div>
    <%= render 'home/footer' %>
</body>

</html>